In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt

In [2]:
data = pd.read_csv("LoanData_Preprocessed_v1.1.csv")
data

      age  employ  address  income  debtinc   creddebt   othdebt   ed  default
0    41.0      17       12   176.0      9.3  11.359392  5.008608  3.0        1
1    27.0      10        6    31.0     17.3   1.362202  4.000798  1.0        0
2    40.0      15        7     NaN      5.5   0.856075  2.168925  1.0        0
3    41.0      15       14   120.0      2.9   2.658720  0.821280  NaN        0
4    24.0       2        0    28.0     17.3   1.787436  3.056564  2.0        1
..    ...     ...      ...     ...      ...        ...       ...  ...      ...
695  36.0       6       15    27.0      4.6   0.262062  0.979938  2.0        1
696  29.0       6        4    21.0     11.5   0.369495  2.045505  2.0        0
697  33.0      15        3    32.0      7.6   0.491264  1.940736  1.0        0
698  45.0      19       22    77.0      8.4   2.302608  4.165392  1.0        0
699  37.0      12       14     NaN     14.7   2.994684  3.473316  1.0        0

[700 rows x 9 columns]

In [3]:
dollars_debt = [f"${num}" for num in data["creddebt"]]
print(dollars_debt[0:5])

['$11.359392', '$1.362202', '$0.856075', '$2.65872', '$1.787436']

In [4]:
data.dtypes

age         float64
employ        int64
address       int64
income      float64
debtinc     float64
creddebt    float64
othdebt     float64
ed          float64
default       int64
dtype: object

# Nested list comprehentions

In [5]:
import pandas as pd

# Generate the nested list
nested = [
    (num1, num2)
    for num1 in data["income"][0:2]  # Count upwards from 0 to 2 (exclusive)
    for num2 in data["creddebt"][0:2]   # Do the same for the second range
]
print(nested)

[(176.0, 11.359392), (176.0, 1.362202), (31.0, 11.359392), (31.0, 1.362202)]

# Conditionals in comprehentions 
- It’s a compact way to include only certain elements in a list (filtering) or modify elements based on conditions (transforming), all within one line of code
- always rely on an if statement to filter or transform values based on a condition

In [6]:
data["income"].isna().sum()

np.int64(37)

In [7]:
data["income"].mean()

np.float64(45.743589743589745)

In [8]:
condition = [46.0 if num != num else num for num in data["income"]]
condition[0:15]

[176.0,
 31.0,
 46.0,
 120.0,
 28.0,
 25.0,
 46.0,
 38.0,
 19.0,
 25.0,
 16.0,
 23.0,
 64.0,
 29.0,
 100.0]

In [9]:
data["ed"].isnull().sum()

np.int64(20)

In [10]:
condition_2 = [0 if pd.isnull(num) else num for num in data["ed"]]
condition_2[0:20]

[3.0,
 1.0,
 1.0,
 0,
 2.0,
 2.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 1.0,
 2.0,
 2.0,
 1.0,
 1.0,
 0]

# Dictionary comprehentions 
- It's a method to create a dictionary by specifying key-value pairs with optional conditions, all within a single line of code

In [11]:
fellowship = ['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']
fellowship

['frodo', 'samwise', 'merry', 'aragorn', 'legolas', 'boromir', 'gimli']

In [12]:
new_fellowship = {member :len(member) for member in fellowship}
new_fellowship

{'frodo': 5,
 'samwise': 7,
 'merry': 5,
 'aragorn': 7,
 'legolas': 7,
 'boromir': 7,
 'gimli': 5}

# Generator Expressions 
- List comprehension: Uses square brackets [] and creates the whole list in memory at once.
- Generator expression: Uses parentheses () and generates values on-the-fly.
- If you want to see the values generated, you'll need to iterate over the generator.

In [13]:
data.head()

    age  employ  address  income  debtinc   creddebt   othdebt   ed  default
0  41.0      17       12   176.0      9.3  11.359392  5.008608  3.0        1
1  27.0      10        6    31.0     17.3   1.362202  4.000798  1.0        0
2  40.0      15        7     NaN      5.5   0.856075  2.168925  1.0        0
3  41.0      15       14   120.0      2.9   2.658720  0.821280  NaN        0
4  24.0       2        0    28.0     17.3   1.787436  3.056564  2.0        1

In [14]:
gen_ex = (x+1 for x in data["employ"])
gen_ex

In [15]:
for value in gen_ex:
    print(value)

18
11
16
16
3
6
21
13
4
1
1
5
25
7
23
10
14
24
7
1
23
18
4
9
2
1
10
26
13
3
4
2
3
9
9
7
11
13
2
24
8
18
8
20
1
1
14
5
1
19
3
2
17
4
4
2
10
17
19
11
10
14
5
5
6
12
3
20
9
2
4
6
27
2
14
14
3
2
15
16
5
12
8
5
5
11
6
6
13
1
4
2
6
1
3
18
14
15
5
5
23
7
9
22
23
9
10
5
13
10
3
7
1
13
17
5
10
16
1
2
13
4
7
3
6
8
8
10
6
20
2
6
19
18
8
7
2
14
9
5
1
10
17
12
17
6
2
3
12
9
16
14
5
9
4
14
13
10
10
10
5
6
3
9
2
14
5
5
15
17
8
5
2
15
7
7
2
8
14
3
13
9
17
11
1
14
15
12
2
20
5
2
11
2
14
5
2
10
9
7
4
9
4
1
8
18
8
7
15
7
17
6
2
6
17
13
15
22
8
1
12
1
18
6
10
6
11
6
1
8
10
4
9
6
12
8
5
3
12
7
5
11
8
22
4
13
16
6
16
11
23
14
14
2
6
20
19
3
17
11
16
9
9
10
10
8
1
10
3
20
23
5
7
17
7
2
3
15
1
14
12
16
9
2
10
10
12
3
17
12
4
10
20
5
11
11
4
1
5
21
30
7
23
7
6
10
12
17
11
5
20
19
3
7
2
5
17
1
5
5
9
4
17
1
6
26
13
3
2
9
2
4
3
1
17
12
8
21
7
5
7
5
16
6
19
1
4
11
4
3
9
2
11
7
19
8
3
1
10
1
14
15
7
3
1
4
6
19
19
23
14
8
9
15
21
2
8
2
16
11
13
14
3
4
10
4
8
16
8
14
23
3
3
6
10
6
15
12
1
3
1
5
6
1
19
17
13
1
14
11
22
23
15
1
2
9
2
5
12
20
2
17
4
9
1
9
1
17
3
22
13
12
10
1
10
2
1
19
9
17
23
11
24
4
19
12
6
8
4
3
26
7
12
1
2
1
10
5
2
11
9
1
10
10
1
5
17
7
7
3
8
1
13
2
14
13
4
6
28
22
10
3
6
7
6
5
3
11
1
16
14
14
1
13
4
5
13
13
1
7
1
4
7
4
2
3
20
10
2
20
4
14
7
7
15
12
23
1
8
10
8
6
5
18
3
7
11
4
32
5
7
2
3
10
3
16
10
6
19
4
17
11
13
5
14
11
10
11
5
13
1
1
13
18
22
9
8
14
3
16
11
10
24
12
8
15
13
10
6
19
1
2
24
4
10
1
9
23
4
7
3
9
10
17
1
10
9
18
10
4
11
1
8
8
3
11
2
6
3
4
5
25
12
10
4
28
2
4
8
8
5
10
4
18
11
21
1
7
4
8
2
3
31
19
7
16
12
4
3
7
8
19
32
2
13
25
1
8
7
8
2
17
7
6
29
1
12
7
12
6
7
5
13
3
12
16
13
17
5
13
3
1
7
12
16
25
22
1
8
11
4
1
7
1
5
31
9
7
10
18
8
5
2
2
19
8
2
11
13
5
1
32
1
1
7
7
7
16
20
13

# Generator Functions 
- produces a sequence of values one at a time, instead of computing them all at once and storing them in memory. It uses the yield keyword (instead of return) to "pause" the function and save its state, allowing it to resume where it left off when called again.

In [16]:
lannister = ['cersei', 'jaime', 'tywin', 'tyrion', 'joffrey']

def get_lengths(input_list):
   

    # Yield the length of a string
    for person in input_list:
        yield len(person)

get_lengths(lannister)

In [17]:
# Print the values generated by get_lengths()
for value in get_lengths(lannister):
    print(value)

6
5
5
6
7

In [18]:
def my_generator():
    for i in range(3):
        yield i  # Produces one value at a time

gen = my_generator()  # Create the generator object
print(next(gen))  # Output: 0
print(next(gen))  # Output: 1

0
1